ion-toolbar{
  --background: #063470;
 }
 ion-toolbar{
  --background: #063470;
 }
 ion-toolbar{
  --background: #063470;
 }
 html{
  --background: #f5f5f3;
}
.form-container{
  font-family: 95%  cursive;
  max-width: 1000px;
  padding: 15px;
  margin: 10px auto;
  background-color: #f7f7f7;
  border-radius: 4%;
  text-align: center;
}
.form-container p{
    background: #FFE333;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 250;
    text-align: center;
    color: black;
    margin: -16px;

}

.form-container ion-button {
  background-color: #063470;
  margin-top: 10px;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form-container ion-item ion-label{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;

}
.form-container ion-button {
background-color: #063470;
margin-top: 10px;
height: 38px;
align-items: center;
}
ion-input{
font-family: Georgia, 'Times New Roman', Times, serif;
}


h1{
color: #063470;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: oblique;
-webkit-text-stroke: 0.50px  #FFE333;
font-size: xx-large ;  
 background-color: #cfd0dc ; 

}

.form-container  ion-item {
font-family: Georgia, 'Times New Roman', Times, serif; 
text-align: justify;
font-style: italic;

}
.form-container  ion-item ion-datetime {
  font-family: Georgia, 'Times New Roman', Times, serif; 
  text-align: justify;
  font-style: italic;
  
  }
  .form-container  ion-item ion-input {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
    font-style: italic;
    
    }
  
.form-container  pagination-controls{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;

}
.form-container ion-item  ion-button {
background-color: #063470;
margin-top: 10px;
height: 38px;
align-items: center;
text-align: center;

}
.form-container  ion-button{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;

} 
span{
  color: red;
  align-content: center;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

}