ion-content,ion-list,ion-item,ion-icon,ion-label,ion-menu,ion-menu-toggle,div{
    --color: rgb(0, 0, 0);
    --background: #FFE333;

  }

.inner-scroll scroll-y {
  background: #FFE333;
}

.background-content{
  background: #FFE333;
}

.md hydrated{
  background: #FFE333;
}


.appcomponent{
  --background: #FFE333;
 }

 .list-md{
  --background: #FFE333;
  background: #FFE333;
 }
