ion-toolbar{
    --background: #063470;
   }
   
  
  .form-container{
    font-family: 95%  cursive;
    max-width: 750px;
    padding: 15px;
    margin: 10px auto;
    background-color: #f7f7f7;
    border-radius: 4%;
    text-align: center;
  }
  .form-container p{
      background: #FFE333;
      padding: 20px 0;
      font-size: 140%;
      font-weight: 250;
      text-align: center;
      color: black;
      margin: -16px;

  }
  

ion-label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-container ion-button {
  background-color: #063470;
  margin-top: 10px;
  height: 38px;
  align-items: center;

}
ion-input{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  color: #063470;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  -webkit-text-stroke: 0.50px  #FFE333;
  font-size: xx-large ;  
   background-color: #cfd0dc ; 

}
.form-container ion-label{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-container ion-input{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.form-container ion-input ion-label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;

} 
.form-container  ion-label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;

} 
.form-container  ion-button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;

} 
.form-container  pagination-controls{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}