<ion-app>
    <ion-menu menuId="main-menu" content-id="main">
        <ion-header>
            <ion-toolbar>

                <div align="right">
                    <img src="../assets/imagenes/Logo.png"  height="50" alt=""  >
                </div>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item routerLink="mi-perfil">
                        <ion-icon name="medkit" slot="start"> </ion-icon>
                        <ion-label> Mi Perfil</ion-label>

                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item routerLink="/raza-especie">
                        <ion-icon name="paw" slot="start"> </ion-icon>
                        <ion-label> Especie</ion-label>

                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item routerLink="/crud-raza">
                        <ion-icon name="create-outline" slot="start"> </ion-icon>
                        <ion-label> Raza</ion-label>

                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item routerLink="/inicio-sesion">
                        <ion-icon name="log-out" slot="start"> </ion-icon>
                        <ion-label> Salir</ion-label>

                    </ion-item>
                </ion-menu-toggle>
               

            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>
