<ion-header>
    <ion-toolbar>
        <div align="right">
            <img src="../assets/imagenes/Logo.png" height="50" alt="">
        </div>

        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu" color="light"> </ion-menu-button>
        </ion-buttons>

    </ion-toolbar>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</ion-header>

<ion-content>
    <br>
    <br>
    <form (ngSubmit)="guardar(InicioDetails)" #userForm="ngForm">
        <div class="form-container">
            <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 17pt;"> <em> Registro
                    Mascota </em></p>

            <ion-item>
                <ion-input placeholder="Nombre Mascota" [(ngModel)]="InicioDetails.nombre" style="text-align: center;"
                    required="true" [ngModelOptions]="{standalone: true}">
                    <ion-icon name="paw"></ion-icon>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input placeholder="Especie" [(ngModel)]="InicioDetails.especie" style="text-align: center;"
                    required="true" [ngModelOptions]="{standalone: true}">
                    <ion-icon name="transgender"></ion-icon>
                </ion-input>
            </ion-item>

            <ion-item>
                <ion-input placeholder="Raza" [(ngModel)]="InicioDetails.raza" style="text-align: center;"
                    required="true" [ngModelOptions]="{standalone: true}">
                    <ion-icon name="move"></ion-icon>

                </ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Sexo</ion-label>
                <ion-select (ionChange)=guardarMascota($event) placeholder="Seleccione " style="text-align: center;" okText="Ok" cancelText="Cancelar">
                  <ion-select-option value="M">Macho</ion-select-option>
                  <ion-select-option value="H">Hembra</ion-select-option>
                  <ion-icon name="mail-outline"></ion-icon>

                </ion-select>
              </ion-item>

              <ion-item>
                <ion-label>Fecha Nacimiento</ion-label>
                <ion-datetime placeholder="Seleccione" display-timezone="utc"></ion-datetime>
              </ion-item>

            <ion-item>
                <ion-input placeholder="Edad" [(ngModel)]="InicioDetails.edad" style="text-align: center;"
                    required="true" email [ngModelOptions]="{standalone: true}" type="numeric">
                    <ion-icon name="reorder-four-outline"></ion-icon>                </ion-input>
            </ion-item>

            <ion-item>
                <ion-textarea  placeholder="Color y señales particulares" [(ngModel)]="InicioDetails.colorYSenalesParti"
                    style="text-align: center;" required="true"  [ngModelOptions]="{standalone: true}">
                 
                </ion-textarea >
            </ion-item>


            <div align="center">
                <ion-grid>
                    <ion-row>


                        <ion-col size="12" size-lg size-md size-sm size-xs class="ion-align-self-start">
                            <ion-button color="shade" type="submit" [disabled]="!userForm.form.valid">Siguiente
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>


        </div>

    </form>






</ion-content>