<ion-header>
  <ion-toolbar>
    <ion-title> Loguin </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/imagenes/VeterinariaLogo.jpg" />
    <h1>Welcome!</h1>
  </div>

  <form id="form">
    <ion-input
      [(ngModel)]="correo"
      placeholder="Dirección de Correo"
      required="true"
    >
      <ion-icon name="person"></ion-icon>
    </ion-input>

    <ion-input
      [(ngModel)]="contrasena"
      type="password"
      placeholder="Contraseña"
      required="true"
    >
      <ion-icon name="key"></ion-icon>
    </ion-input>
    <ion-button id="button-inicio" expand="block" (click)="loguin()"
      >Iniciar sesion</ion-button
    >
  </form>
</ion-content>
